################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinDev/.vs/WinDev/v14
/WinDev/FirstBlendApp/obj
